<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.userdemo.mapper.UserMapper">

    <select id="findAll" resultType="com.userdemo.model.User">
        SELECT *
        FROM mydbtest.user;
    </select>

    <insert id="add" parameterType="com.userdemo.model.User">
        INSERT into mydbtest.user
        (userName,userAge) VALUES
        (#{userName},#{userAge});
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM mydbtest.user
        WHERE userId=#{userId};
    </delete>

    <update id="update" parameterType="com.userdemo.model.User">
        UPDATE mydbtest.user
        SET userName=#{userName},userAge=#{userAge}
        WHERE userId=#{userId};
    </update>
</mapper>